* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 1.4;
  color: #444;
  background: #fff;
  height: 100vh;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.view_content {
  margin-right: auto;
  margin-left: auto;
}

.content_container {
  min-height: 100%
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.view_content {
  width: 960px;
}

@media only screen and (max-width: 576px) {
  .view_content {
    width: 100%;
  }
}

@media only screen and (min-width: 576px) {
  .view_content {
    width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .view_content {
    width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  .view_content {
    width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .view_content {
    width: 1140px;
  }
}

@media only screen and (min-width: 1400px) {
  .view_content {
    width: 1320px;
  }
}
