body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

p {
  margin: 0;
  font-family: sans-serif;
}

.appContainer {
  margin-top: 80px;
}

.calc-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 400px;
}

.calc_display {
  grid-column: 1 / -1;
  background-color: #858694;
  border: 0.5px solid #d6d6d6;
  padding: 20px 10px;
  font-size: 30px;
  height: 40px;
  text-align: right;
  color: white;
}

.calc-container > .int_values,
.calc-container > .other_operators {
  background-color: #e0e0e0;
  border: 0.5px solid #d6d6d6;
  text-align: center;
  padding: 20px 0;
  font-size: 12px;
  color: #3e3e3f;
}

.calc-container > .arithmetic_operand {
  background-color: #f5913e;
  border: 0.5px solid #d6d6d6;
  text-align: center;
  padding: 16px 0;
  font-size: 16px;
}

/* .calc-container > .other_operators {
  background-color: #e0e0e0;
  border: 0.5px solid #d6d6d6;
  text-align: center;
  padding: 20px 0;
  font-size: 12px;
  color: #3e3e3f;
} */

.calc-container > .zero {
  grid-column: 1 / span 2;
}
